.app-container {
  background-image: linear-gradient(to right, #ffeeee, #ffc0bb);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-container {
  background-color: #ffffff;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 30px;
}

.heading {
  font-family: 'Roboto';
  font-size: 25px;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}

.emoji-img {
  width: 40px;
  height: 40px;
}

.button {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  outline: none;
}

.love-emoji {
  width: 40px;
  height: 40px;
}

.feedback-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thankyou-heading {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
}

.description {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 15px;
  text-align: center;
}
